:root{
    --purple: #B682D5 !important;
    --dark-purple: #9268aa !important;
    --pink: #EBAFD1 !important;
    --dark-pink: #E592BE !important;
    --blue: #B4D9F0 !important;
    --turquise: #ABFFF3 !important;
    --green: #95D6A6 !important;
    --dark-green: #80CB95 !important;
    --yellow: #F8E89C !important;
    --orange: #EFC17A !important;
    --white: #F8F7FC !important;
    --gray: #C9C9CB !important;
}
