:root{
    --purple: #B682D5 !important;
    --dark-purple: #9268aa !important;
    --soft-purple: #dbc2ea !important;
    --pink: #EBAFD1 !important;
    --dark-pink: #E592BE !important;
    --blue: #B4D9F0 !important;
    --turquise: #ABFFF3 !important;
    --green: #95D6A6 !important;
    --dark-green: #80CB95 !important;
    --yellow: #F8E89C !important;
    --orange: #EFC17A !important;
    --soft-orange: #f1ce95 !important;
    --white: #F8F7FC !important;
    --gray: #C9C9CB !important;
    --dark-gray: #79797a !important;
}
.sidebar-custom{
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--gray);
    overflow-x: hidden;
    padding-top: 20px;
    display: flex!important;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar-inner{
    height: auto;
    width: 270px;
}