:root {
  --purple: #b682d5 !important;
  --dark-purple: #9268aa !important;
  --soft-purple: #d1b1e7 !important;
  --pink: #ebafd1 !important;
  --dark-pink: #e592be !important;
  --blue: #b4d9f0 !important;
  --turquise: #abfff3 !important;
  --green: #95d6a6 !important;
  --dark-green: #80cb95 !important;
  --yellow: #f8e89c !important;
  --orange: #efc17a !important;
  --soft-orange: #f1ce95 !important;
  --white: #f8f7fc !important;
  --gray: #c9c9cb !important;
  --dark-gray: #79797a !important;
}
p,
li,
a {
  font-family: "Rubik", sans-serif;
}
a:hover {
  text-decoration: none !important;
}
h1,
h2,
h3 {
  font-family: "Reem Kufi", sans-serif;
}
body {
  background-color: var(--white) !important;
}
.big-p {
  font-size: 20px;
}
.small-text {
  font-size: 15px;
  color: var(--gray);
  padding: 0;
  text-transform: uppercase;
  margin: 0;
}
.logo {
  font-size: 40px;
  color: var(--white);
  font-family: "Reem Kufi", sans-serif;
}
.filter-item {
  color: var(--dark-gray);
}
.page-wrapper {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3em;
  margin: 0 auto;
}
.page-container {
  position: relative;
  padding: 2em;
  width: 100%;
}
.gray-p {
  color: var(--dark-gray);
}
.modal-content {
  border: none !important;
  border-radius: 25px !important;
}
.modal-dialog {
  min-width: 800px;
}

@media screen and (max-width: 800px) {
  .modal-dialog {
    min-width: initial;
  }
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 23px !important;
  }
  h5{
    font-size: 19px !important;
  }
  .banner-p {
    font-size: 16px !important;
  }
}
