
.read-container{
    position: absolute;
    top: 10%;
    left: 23%;
    width: 50%;
  }
    
  .text{
    display: inline;
    width: 100%;
    font-size:17px;
  }
    
  .read-or-hide{
    color: rgb(192,192,192);
    cursor: pointer;
    width: 100px;
    height:100px;
  }

  .variant{
    color:white;
  }