.sidebar{
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--gray);
    overflow-x: hidden;
    padding-top: 20px;
    display: flex!important;
    flex-direction: column;
    justify-content: space-evenly;
}
.sidebar-inner{
    height: auto;
    width: 270px;
}