.properities{
  padding: 0 2em;
}
.Collapsible{
  width: 90%;
  background-color: var(--purple);
  border-radius: 25px;
}
.Collapsible__trigger{
  width: 100%;
  padding: 0 1em;
}
.variant-container{
  width: 100%;
}
.variant-container .Collapsible{
  background-color: var(--orange);
}
.no-variant-container{
  width: 100%;
}