.properities {
  padding: 0 2em;
}
.Collapsible {
  width: 90%;
  background-color: var(--soft-purple);
  border-radius: 25px;
  padding: 15px;
}
.Collapsible__trigger {
  width: 100%;
  padding: 0 1em;
  font-size: 16px;
  text-transform: uppercase;
  /* color: #79797A; */
}
.variant-container {
  width: 100%;
}
.variant-container .Collapsible {
  background-color: var(--soft-orange);
}
.no-variant-container {
  width: 100%;
}
